table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: xx-large;
    width: 70%;
}

td {
    background-color: skyblue;
    padding: 0.6em;
}

.editButton {
    width: 70px;
    height: 35px;
    font-weight: bold;
    background-color: hsl(120, 61%, 34%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.editButton:hover {
    background-color: hsl(120, 61%, 24%);
}

@media only screen and (max-width:600px) {

    table,
    td {
        font-size: medium;
    }
}